version: "3.8"

services:
  api:
    build: .
    container_name: todo-api
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - MONGO_URL=mongodb://mongo:27017/todo_api
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: todo-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb

volumes:
  mongo_data:
  mongo_config:
